


.icons-demo .row {
	overflow: hidden;
	margin: 0 0 60px;
	text-align: center;
}

.icons-demo img {
	width: 60%;
	margin: 0 auto 20px;
	display: block;
}

.icons-demo .col {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.icons-demo p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}


.circle-background.gray-dark:after {
	background: #474747; }