@-webkit-keyframes dropTooltip {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes dropTooltip {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

.rel {
  position: relative; }

.flexible-row, .header .container, .headline, .headline__title, .footer .container, .modal__footer, .modal__headline, .dialog__summary, .dialog__notification-wrapper, .dialog__opener, .day-block__heading, .day-block__summary, .message-resp__title, .message-resp__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.blue {
  color: #2597ee; }


.clear:after {
  content: "";
  display: table;
  clear: both; }

.day {
  font-weight: bold;
  color: #999;
  font-size: 9px;
  text-transform: uppercase; }

body {
  margin: 0;
  color: #000;
  font: 12px Roboto, sans-serif;
  background: #e9e9e9; }

img {
  border-style: none; }

a {
  color: #2597ee; }

input,
textarea,
select {
  font: 15px Roboto, sans-serif;
  outline: none; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 6px 0 6px 10px;
  overflow: auto;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  outline: none; }

table {
  border-spacing: 0 2px; }

p {
  margin: 0 0 0.5em; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg"); }

[class^="icon-"],
[class*=" icon-"], .select-field__opener, .headline-search, .badge__icon, .badge__rec {
  line-height: 1; }
  [class^="icon-"]:before,
  [class*=" icon-"]:before, .select-field__opener:before, .headline-search:before, .badge__icon:before, .badge__rec:before {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none; }

* {
  -webkit-font-smoothing: antialiased; }

.toggle-box__content,
.slide-box__content {
  display: none; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg"); }

.icon-add:before, .badge--add:before {
  content: '\E001'; }

.icon-arrow-drop:before, .select-field__opener:before {
  content: '\E002'; }

.icon-calendar:before {
  content: '\E003'; }

.icon-call:before {
  content: '\E004'; }

.icon-close:before {
  content: '\E005'; }

.icon-complete:before {
  content: '\E006'; }

.icon-copy:before {
  content: '\E007'; }

.icon-dashboard:before {
  content: '\E008'; }

.icon-envelope:before, .badge--email:before {
  content: '\E009'; }

.icon-fail:before {
  content: '\E00A'; }

.icon-in-progress:before {
  content: '\E00B'; }

.icon-leads:before {
  content: '\E00C'; }

.icon-minus:before {
  content: '\E00D'; }

.icon-move:before {
  content: '\E00E'; }

.icon-open-email:before {
  content: '\E00F'; }

.icon-phone:before, .badge--call:before {
  content: '\E010'; }

.icon-record:before, .badge__rec:before {
  content: '\E011'; }

.icon-reports:before {
  content: '\E012'; }

.icon-responses:before {
  content: '\E013'; }

.icon-review:before {
  content: '\E014'; }

.icon-sad:before {
  content: '\E015'; }

.icon-search:before, .headline-search:before {
  content: '\E016'; }

.icon-sequences:before {
  content: '\E017'; }

.icon-settings:before {
  content: '\E018'; }

.icon-sms:before, .badge--sms:before {
  content: '\E019'; }

.icon-success:before {
  content: '\E01A'; }

.icon-trash:before {
  content: '\E01B'; }

html {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%; }
  .page.blured {
    -webkit-filter: blur(5px);
            filter: blur(5px); }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .main > .container {
    padding-bottom: 20px; }

.container {
  margin: 0 auto;
  max-width: 1322px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.header {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 25px 0 18px;
  position: relative; }

@media (max-width: 1023px) {
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }

.logo img {
  display: block;
  width: 161px; }

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 3px 35px 0 66px;
  font-size: 18px; }
  @media (max-width: 1023px) {
    .navigation {
      display: none; } }
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300; }
  .navigation a {
    color: #333;
    text-decoration: none; }
  .navigation span {
    color: #8e8e8e;
    margin-right: 7px;
    font-size: 21px;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  .navigation li {
    display: inline-block;
    margin-left: 28px; }
    .navigation li:first-child {
      margin-left: 0; }
    .navigation li:hover span,
    .navigation li:hover a {
      color: #2597ee; }
  .navigation .active {
    font-weight: normal; }
    .navigation .active a {
      color: #000; }
    .navigation .active span {
      color: #2597ee; }

.user-tools {
  position: relative;
  margin-top: 3px; }
  .user-tools__name {
    font-size: 18px;
    font-weight: 300; }
    .user-tools__name a {
      color: inherit;
      text-decoration: none; }
    .user-tools__name span {
      margin-left: 2px;
      font-size: 9px;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      display: inline-block; }

.tools-tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  font-size: 15px;
  font-weight: 300;
  width: 128px;
  display: none;
  -webkit-animation: 0.1s ease-out dropTooltip;
          animation: 0.1s ease-out dropTooltip; }
  .tools-tooltip:after, .tools-tooltip:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 36px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    margin-bottom: -6px; }
  .tools-tooltip:before {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .tools-tooltip__list {
    list-style: none;
    background: #fff;
    position: relative;
    padding: 7px 0;
    margin: 0;
    border-radius: 5px; }
    .tools-tooltip__list a {
      display: block;
      padding: 5px 12px;
      color: #000;
      text-decoration: none; }
      .tools-tooltip__list a:hover {
        background: #e9f4fd; }

.mobile-nav {
  display: none;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 300; }
  @media (max-width: 1023px) {
    .mobile-nav {
      display: block; } }
  .mobile-nav__content {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    display: none;
    -webkit-animation: 0.1s ease-out dropTooltip;
            animation: 0.1s ease-out dropTooltip; }
  .mobile-nav ul {
    list-style: none;
    padding: 40px 0 0;
    margin: 0; }
  .mobile-nav li {
    margin-bottom: 15px; }
    .mobile-nav li a {
      display: block;
      text-decoration: none;
      color: #666;
      padding: 10px 0; }
    .mobile-nav li span {
      font-size: 32px;
      margin-right: 15px;
      vertical-align: bottom;
      display: inline-block;
      color: #2597ee; }
  .mobile-nav .active {
    font-weight: normal; }
    .mobile-nav .active a {
      color: #000; }
  .mobile-nav__opener {
    width: 35px;
    display: block;
    position: relative;
    z-index: 101; }
    .mobile-nav__opener:before, .mobile-nav__opener:after,
    .mobile-nav__opener span {
      display: block;
      font-size: 0;
      height: 3px;
      background: #666;
      margin-bottom: 7px;
      width: 100%; }
    .mobile-nav__opener:before, .mobile-nav__opener:after {
      content: ''; }
    .mobile-nav__opener:after {
      margin-bottom: 0; }

.headline {
  margin: 18px 0 25px; }
  @media (max-width: 1219px) {
    .headline {
      display: block; } }
  .headline__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 2px; }
    @media (max-width: 1219px) {
      .headline__title {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .headline__title {
        display: block; } }
    .headline__title .btn {
      -webkit-transform: translateY(4px);
              transform: translateY(4px); }
  .headline--simple {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .headline h1 {
    margin: 0 38px 0 0;
    font-size: 51px;
    font-weight: 100;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
    @media (max-width: 767px) {
      .headline h1 {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 40px; } }
  .headline .view-link {
    font-size: 15px;
    text-decoration: none;
    margin-left: 25px;
    display: inline-block;
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
    .headline .view-link span {
      text-decoration: underline; }
    .headline .view-link em {
      margin-left: 5px;
      vertical-align: middle;
      display: inline-block;
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
    .headline .view-link:hover span {
      text-decoration: none; }
  .headline form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: right;
    margin-top: 2px;
    margin-right: -2px; }
    @media (max-width: 1219px) {
      .headline form {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%; } }
    @media (max-width: 767px) {
      .headline form {
        display: block; } }
  .headline__btns .btn {
    margin-left: 6px; }
    .headline__btns .btn:first-child {
      margin-left: 0; }

.select-field {
  margin-left: 12px;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 19px;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  @media (max-width: 1219px) {
    .select-field {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-left: 0;
      margin-right: 20px; } }
  @media (max-width: 767px) {
    .select-field {
      margin-right: 0;
      margin-bottom: 20px;
      display: block; } }
  .select-field select {
    display: block;
    height: 36px;
    line-height: 34px;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0 39px 0 25px; }
    @media (max-width: 1219px) {
      .select-field select {
        width: 100%; } }
  .select-field--icon {
    width: 188px; }
    @media (max-width: 767px) {
      .select-field--icon {
        width: auto; } }
    .select-field--icon select {
      padding-left: 42px;
      padding-right: 42px; }
  .select-field__icon, .select-field__opener {
    position: absolute;
    bottom: 1px;
    top: 1px;
    width: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%; }
  .select-field__opener {
    right: 1px;
    padding-right: 11px;
    color: #2597ee; }
    .select-field__opener:before {
      font-size: 9px; }
  .select-field__icon {
    left: 1px;
    padding-left: 14px;
    color: #999;
    text-align: center; }
    .select-field__icon:before {
      font-size: 16px; }

.headline-search {
  display: inline-block;
  position: relative;
  margin-left: 14px;
  background: #9b9b9b;
  border-radius: 18px;
  padding: 0 10px 0 8px;
  color: #fff; }
  @media (max-width: 1219px) {
    .headline-search {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-left: 0; } }
  @media (max-width: 767px) {
    .headline-search {
      display: block; } }
  .headline-search:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    width: 18px;
    text-align: center;
    line-height: 34px; }
  .headline-search input {
    border: none;
    background: none;
    font-size: 15px;
    line-height: 36px;
    padding: 0 0 0 27px;
    width: 168px;
    outline: none;
    color: #fff;
    font-weight: 300; }
    @media (max-width: 1219px) {
      .headline-search input {
        width: 100%; } }
    .headline-search input::-webkit-input-placeholder {
      color: #fff; }
    .headline-search input:-ms-input-placeholder {
      color: #fff; }
    .headline-search input::placeholder {
      color: #fff; }

.footer {
  background: #f0f0f0;
  padding: 20px 0;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px; }
  @media (max-width: 767px) {
    .footer .container {
      display: block; } }
  .footer__nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 767px) {
      .footer__nav {
        margin-bottom: 20px; } }
    .footer__nav li {
      display: inline-block;
      margin: 0 2px; }
      .footer__nav li:before {
        content: '';
        width: 1px;
        height: 10px;
        display: inline-block;
        background: #b3b3b3;
        margin-right: 6px;
        vertical-align: baseline; }
      .footer__nav li:first-child {
        margin-left: 0; }
        .footer__nav li:first-child:before {
          display: none; }
    .footer__nav a {
      color: #b3b3b3;
      text-decoration: none; }
      .footer__nav a:hover {
        color: #2597ee; }
  .footer__info {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__logo {
    margin-left: 10px; }
    .footer__logo img {
      display: block;
      width: 91px; }

.badge {
  position: relative;
  display: inline-block; }
  .badge__icon {
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    width: 26px;
    height: 26px;
    display: block; }
    .badge__icon:before {
      display: inline-block;
      margin-top: 1px; }
  .badge--call {
    background: #0e9133; }
  .badge--email {
    background: #2597ee;
    line-height: 23px; }
  .badge--sms {
    background: #e7682a; }
  .badge--add {
    background: #000;
    vertical-align: middle;
    font-size: 10px; }
  .badge__rec {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 11px;
    line-height: 6px;
    color: #ff4800;
    padding: 1px;
    background: #fff;
    border-radius: 2px; }

.btn {
  display: inline-block;
  border-radius: 5px;
  font-weight: normal;
  color: #fff;
  height: 31px;
  border: none;
  line-height: 27px;
  padding: 2px 18px;
  cursor: pointer;
  white-space: nowrap;
  outline: none; }
  .btn--blue {
    background: #2597ee; }
    .btn--blue:hover {
      background: #54aef2; }
  .btn--orange {
    background: #e7682a; }
    .btn--orange:hover {
      background: #ec8858; }
  .btn--grey {
    background: #8e8e8e; }
    .btn--grey:hover {
      background: #a8a8a8; }
  .btn--naked {
    background: none;
    text-decoration: underline;
    color: #707070; }
    .btn--naked:hover {
      color: #000; }
  .btn--big {
    height: 40px;
    font-size: 15px;
    padding-left: 23px;
    padding-right: 23px; }
  .btn [class^="icon-"],
  .btn [class*=" icon-"] {
    margin-right: 5px;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1; }
  .btn:disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default; }

.label {
  display: inline-block;
  padding: 0 9px;
  color: #fff;
  border-radius: 9px;
  font-size: 9px;
  line-height: 18px;
  white-space: nowrap;
  font-weight: normal; }
  .label--green {
    background: -webkit-gradient(linear, left top, right top, from(#17a11a), to(#46ca4b));
    background: linear-gradient(to right, #17a11a 0%, #46ca4b 100%); }
  .label--red {
    background: -webkit-gradient(linear, left top, right top, from(#b31900), to(#d54800));
    background: linear-gradient(to right, #b31900 0%, #d54800 100%); }
  .label--violet {
    background: -webkit-gradient(linear, left top, right top, from(#515282), to(#8e8fb6));
    background: linear-gradient(to right, #515282 0%, #8e8fb6 100%); }

.modal {
  position: relative;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .modal__header {
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    position: relative; }
  .modal__header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    padding: 27px 50px 23px 46px; }
    @media (max-width: 767px) {
      .modal__header-wrap {
        display: block; } }
  .modal h2 {
    font-weight: 100;
    font-size: 24px;
    margin: 0; }
    @media (max-width: 767px) {
      .modal h2 {
        margin-bottom: 20px; } }
    .modal h2 span {
      font-weight: 300;
      font-size: 30px;
      margin-right: 6px; }
  .modal__nav {
    list-style: none;
    padding: 0;
    margin: 0 0 6px;
    font-size: 15px; }
    .modal__nav li {
      display: inline-block;
      margin-left: 21px; }
      @media (max-width: 767px) {
        .modal__nav li:first-child {
          margin-left: 0; } }
    .modal__nav a {
      text-decoration: none;
      border-bottom: 1px dashed #2597ee; }
  .modal__footer {
    background: #d3d3d3;
    border-top: 1px solid #b4b4b4;
    border-radius: 0 0 5px 5px;
    padding: 20px 50px;
    font-size: 26px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .modal__footer:hover {
      background: #cddce7; }
    @media (max-width: 767px) {
      .modal__footer {
        display: block;
        text-align: center; } }
  .modal__status {
    font-size: 13px;
    margin: 0; }
    @media (max-width: 767px) {
      .modal__status {
        margin-bottom: 20px; } }
    .modal__status span {
      color: #7f7f7f;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      font-size: 18px; }
      .modal__status span.success {
        color: #0e9133; }
    .modal__status strong {
      color: #000; }
  .modal__footer-close {
    font-size: 24px;
    text-decoration: none; }
  .modal__body {
    padding: 30px 47px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 12px; }
  .modal__headline {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 16px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .modal__headline h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 300; }
      .modal__headline h3 span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 31px;
        font-size: 18px; }
    .modal__headline .date {
      font-weight: bold;
      color: #999;
      font-size: 9px; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-weight: 300;
  display: none; }
  .popup.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); }
  .popup__box {
    width: 700px;
    max-height: 616px;
    border-radius: 5px; }
    @media (max-width: 767px) {
      .popup__box {
        width: auto; } }
  .popup__close {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #b2b2b2;
    text-decoration: none;
    z-index: 2;
    font-size: 12px; }

body.popup-open {
  overflow: hidden; }

.tooltip {
  position: absolute;
  bottom: 100%;
  right: -30px;
  width: 194px;
  z-index: 50;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: #333;
  font-size: 12px;
  display: none;
  -webkit-animation: 0.1s ease-out dropTooltip;
          animation: 0.1s ease-out dropTooltip; }
  .tooltip:after, .tooltip:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    margin: -6px 0 0 -6px; }
  .tooltip:before {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .tooltip__content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative; }
  .tooltip h3 {
    font-size: 15px;
    margin: 0 0 0.5em;
    font-weight: 300; }
  .tooltip p {
    margin: 0 0 0.5em; }
  .tooltip__frame {
    position: relative; }
    .tooltip__frame:hover .tooltip {
      display: block; }

*::-webkit-scrollbar {
  width: 8px; }

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  width: 8px;
  background-color: #666; }

/*
width: 8px;
background-color: #666;*/
.lead-table {
  margin: 0 -4px 40px 4px; }
  .lead-table__table {
    background: #ededed;
    line-height: 20px;
    border-radius: 5px;
    width: 100%; }
  .lead-table thead {
    background: #f8f8f8; }
  .lead-table th,
  .lead-table td {
    padding: 7px 5px 7px 18px;
    border: none; }
    .lead-table th:not(:first-child),
    .lead-table td:not(:first-child) {
      border-left: 1px solid #d5d5d5; }
  .lead-table th {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 8px;
    padding-top: 9px;
    border-bottom: 1px solid #adadad; }
    .lead-table th:first-child {
      padding-left: 26px; }
  .lead-table td {
    font-weight: 300; }
    .lead-table td:first-child {
      padding-left: 22px; }
    .lead-table td:nth-child(2) {
      font-weight: normal; }
  .lead-table tr {
    cursor: pointer; }
    .lead-table tr:nth-child(2n) td {
      background: #f6f6f6; }
    .lead-table tr:hover td {
      background: #f0f7fd; }
  .lead-table .time {
    font-size: 9px; }
  .lead-table .review,
  .lead-table .cancel {
    text-decoration: none; }
    .lead-table .review span,
    .lead-table .cancel span {
      display: inline-block;
      vertical-align: top;
      -webkit-transform: translateY(5px);
              transform: translateY(5px); }
    .lead-table .review:hover,
    .lead-table .cancel:hover {
      text-decoration: underline; }
      .lead-table .review:hover span,
      .lead-table .cancel:hover span {
        text-decoration: none; }
  .lead-table .review {
    color: #004ea4; }
  .lead-table .cancel {
    color: #c33; }
  .lead-table [class^="icon-"] {
    font-size: 8px;
    margin-right: 3px;
    vertical-align: middle;
    -webkit-transform: translateY(1px);
            transform: translateY(1px); }
  .lead-table .icon-success {
    color: #0e9133; }
  .lead-table .icon-in-progress {
    color: #ff9c00; }
  .lead-table .icon-sad {
    color: #494949; }
  .lead-table .icon-fail {
    color: #c33; }
  .lead-table .icon-complete {
    color: #626262; }
  .lead-table .icon-review {
    color: #004ea4; }
  .lead-table__pagination {
    text-align: center;
    font-size: 12px;
    margin: 40px 0 0;
    font-weight: 300; }
    .lead-table__pagination span {
      font-weight: normal; }

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .dialog__title {
    margin: 17px 0 15px; }
    .dialog__title h3 {
      display: inline-block;
      margin: 0 6px 0 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase; }
  .dialog__day {
    font-weight: bold;
    color: #999;
    font-size: 9px;
    text-transform: uppercase; }
  .dialog__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72.5%;
    margin: 3px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .dialog__row:hover .dialog__summary {
      background: #fff; }
  .dialog p {
    margin: 0; }
  .dialog .badge {
    display: block;
    margin-right: 10px; }
  .dialog__summary {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px; }
    .dialog__summary a {
      text-decoration: none; }
      .dialog__summary a:hover {
        text-decoration: underline; }
  .dialog--answer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: end;
        align-self: flex-end; }
    .dialog--answer .badge {
      margin-right: 0;
      margin-left: 10px; }
  .dialog--message, .dialog--info {
    margin: 40px 0;
    width: 75%; }
    .dialog--message .dialog__summary, .dialog--info .dialog__summary {
      background: #effafe;
      border-radius: 5px;
      padding-top: 18px;
      padding-bottom: 18px; }
    .dialog--message + .dialog--message,
    .dialog--message + .dialog--info, .dialog--info + .dialog--message,
    .dialog--info + .dialog--info {
      margin-top: 5px; }
    .dialog--message + .dialog__notification, .dialog--info + .dialog__notification {
      margin-top: 0; }
  .dialog--info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .dialog--message .dialog__summary {
    display: block;
    padding-left: 0;
    padding-right: 0; }
  .dialog--message .dialog__message-title {
    position: relative;
    border-bottom: 1px solid #d7e1e4;
    padding: 0 16px 6px; }
  .dialog--message.dialog--answer .badge {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); }
  .dialog--message .dialog__message-heading {
    margin-bottom: 3px; }
    .dialog--message .dialog__message-heading .icon-open-email {
      margin-left: 3px;
      color: #004eff; }
  .dialog--message .dialog__message-body {
    padding: 16px 16px 0; }
  .dialog__notification {
    background: #d3d3d3;
    margin: 20px 0;
    border-radius: 5px; }
    .dialog__notification + .dialog--message,
    .dialog__notification + .dialog--info {
      margin-top: 20px; }
  .dialog__notification-wrapper {
    padding: 5px 14px 5px 10px;
    cursor: pointer; }
  .dialog__notification-content {
    padding: 10px; }
  .dialog__notification-text {
    font-weight: 300;
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .dialog__attention-icon {
    display: inline-block;
    border-radius: 50%;
    color: #d3d3d3;
    background: #7f7f7f;
    width: 12px;
    text-align: center;
    height: 12px;
    font-weight: bold;
    margin-right: 18px;
    vertical-align: middle;
    font-size: 9px; }
  .dialog__notification-number {
    display: inline-block;
    margin-left: 6px;
    font-weight: bold;
    background: #bdbdbd;
    line-height: 18px;
    border-radius: 9px;
    font-size: 9px;
    vertical-align: middle;
    padding: 0 8px; }
  .dialog__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
    .dialog__buttons .btn {
      margin-right: 3px; }
  .dialog__buttons-label {
    font-weight: bold;
    margin: 0 12px 0 0; }
  .dialog__field-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #acacac;
    font-size: 9px;
    text-decoration: none !important; }
  .dialog--replied .dialog__summary {
    -webkit-box-shadow: 0 0 2px #2597ee;
            box-shadow: 0 0 2px #2597ee;
    background: #fff;
    color: #000; }
  .dialog--replied .dialog__day {
    color: #000; }
  .dialog--toggle {
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
    .dialog--toggle .dialog__summary {
      display: block;
      -webkit-transition: all .15s ease;
      transition: all .15s ease;
      background: #f6f6f6;
      padding: 0; }
  .dialog__opener {
    padding: 6px 12px;
    cursor: pointer; }
  .dialog__content {
    display: none; }
  .dialog--textfield {
    width: 100%; }
    .dialog--textfield .dialog__summary {
      background: #f6f6f6;
      padding: 12px;
      position: relative;
      display: block;
      margin-right: 21px; }
    .dialog--textfield label {
      display: block;
      margin: 0 15px 5px 0;
      font-size: 15px; }
    .dialog--textfield textarea {
      margin-bottom: 10px;
      min-height: 90px; }

.details {
  background: #f6f6f6;
  position: relative; }
  .details__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 34px 46px 29px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .details__wrap {
        display: block; } }
  .details__close {
    position: absolute;
    top: 18px;
    right: 14px;
    color: #c5c5c5;
    font-size: 8px;
    text-decoration: none; }
  .details__col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    max-width: 100%; }
    .details__col:last-child dl {
      padding-left: 26px; }
    .details__col:last-child dt {
      width: 45%; }
    .details__col:last-child dd {
      width: 55%; }
  .details dl {
    margin: 0;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .details dt {
    padding-bottom: 6px;
    width: 33%;
    font-weight: normal; }
  .details dd {
    margin: 0;
    padding-bottom: 6px;
    padding-top: 2px;
    width: 67%; }

.sequences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: -10px -6px 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .sequences__col {
    width: 350px;
    max-width: 30%;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 1219px) {
      .sequences__col {
        width: 50%;
        max-width: 50%; } }
    @media (max-width: 767px) {
      .sequences__col {
        width: 100%;
        max-width: 100%; } }
  .sequences__item {
    border-radius: 5px;
    background: #fff;
    height: 100%;
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
    .sequences__item:hover {
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
      -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.02);
              box-shadow: 0 3px 4px rgba(0, 0, 0, 0.02); }
  .sequences__header {
    padding: 19px 15px 15px; }
    .sequences__header h2 {
      margin: 0;
      font-weight: bold;
      font-size: 18px; }
    .sequences__header .icon-sequences {
      color: #2597ee;
      margin-right: 8px;
      vertical-align: middle;
      display: inline-block; }
  .sequences__summary {
    background: #f4f4f4;
    padding: 15px 10px 15px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .sequences__summary dl {
      margin: 0;
      width: 25%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 18px; }
    .sequences__summary dt {
      display: inline-block; }
    .sequences__summary dd {
      display: inline-block;
      margin: 0;
      font-weight: bold; }
  .sequences__calendar {
    padding: 20px 16px 42px; }
  .sequences__row {
    margin-bottom: 8px; }
    @media (max-width: 479px) {
      .sequences__row {
        margin-bottom: 20px;
        text-align: center; } }
  .sequences__day {
    display: inline-block;
    background: #dedede;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    width: 74px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    padding: 5px;
    text-transform: uppercase; }
    @media (max-width: 479px) {
      .sequences__day {
        display: block;
        margin-right: 0;
        margin-bottom: 12px;
        width: auto;
        text-align: center; } }
  .sequences__icons {
    position: relative;
    display: inline-block; }
    .sequences__icons:before {
      content: '';
      display: block;
      height: 1px;
      left: 0;
      right: 0;
      top: 50%;
      background: #b2b2b2;
      position: absolute; }
    .sequences__icons .badge {
      display: inline-block;
      position: relative;
      margin-left: 11px; }
      .sequences__icons .badge:first-child {
        margin-left: 0; }
  .sequences__edit {
    float: right;
    background: #e5f2fd;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #b2dcf6;
    text-decoration: none;
    color: #007ecb;
    font-size: 10px;
    line-height: 12px;
    padding: 5px 12px; }
    .sequences__edit:hover {
      background: #b2dcf6; }

.create-block {
  background: #454545;
  padding: 27px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: -22px; }
  .create-block__aside {
    margin-left: -9999px;
    padding-left: 9975px;
    background: #fff;
    border-radius: 5px;
    width: 270px;
    margin-right: 33px; }
    @media (max-width: 767px) {
      .create-block__aside {
        width: auto;
        margin: 0 0 20px;
        padding: 0; } }
  .create-block__aside-holder {
    padding: 35px 28px 35px 0; }
    @media (max-width: 767px) {
      .create-block__aside-holder {
        padding: 20px; } }
  .create-block__button-main, .create-block__button {
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 11px 15px 10px; }
    .create-block__button-main .badge, .create-block__button .badge {
      margin-right: 10px; }
  .create-block__button-main {
    font-weight: 300;
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 13px; }
  .create-block .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    @media (max-width: 767px) {
      .create-block .container {
        display: block; } }
  .create-block__main {
    border-radius: 5px;
    background: #ddd;
    padding: 30px 25px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .create-block__title {
    margin-bottom: 12px; }
    .create-block__title h2 {
      margin: 0;
      font-size: 30px;
      font-weight: bold; }
      .create-block__title h2 span {
        margin-right: 5px;
        color: #2597ee;
        display: inline-block;
        vertical-align: middle; }

.day-block {
  margin: 0 -10px 25px -12px;
  padding: 10px 10px 22px 12px;
  border: 1px dashed transparent;
  border-radius: 5px; }
  .day-block__container {
    max-width: 452px; }
  .day-block--drag {
    background: #e9e9e9;
    border-color: #ababab; }
  .day-block__heading {
    background: #f6f6f6;
    border: 1px solid #c0c0c0;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 5px; }
  .day-block__heading-text {
    margin-right: 20px; }
    .day-block__heading-text h3 {
      margin: 0 10px 0 0;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px; }
    .day-block__heading-text p {
      margin: 0;
      display: inline-block; }
  .day-block__tools {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none; }
    .day-block--drag .day-block__tools {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .day-block__tools li {
      margin-left: 8px; }
      .day-block__tools li:first-child {
        margin-left: 0; }
    .day-block__tools a {
      color: #0d0c0e;
      text-decoration: none; }
      .day-block__tools a:hover {
        color: #2597ee; }
  .day-block__row {
    margin: 0 0 4px 25px; }
    .day-block__row .badge {
      margin-right: 10px; }
  .day-block__summary {
    background: #f6f6f6;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    padding: 6px 12px 7px; }
    .day-block--new .day-block__summary {
      background: #fff;
      border-color: #a5a5a5; }
    .day-block--add-row .day-block__summary {
      background: #eae5f0;
      border: 1px dashed #b3b3b3;
      color: #b3b3b3;
      padding-top: 4px;
      padding-bottom: 5px; }
  .day-block__text {
    font-size: 13px;
    font-weight: 300; }
    .day-block--add-row .day-block__text {
      font-weight: normal; }
  .day-block__info {
    font-weight: bold;
    font-size: 9px;
    color: #999; }
    .day-block__info strong {
      color: #333; }
  .day-block__plus {
    background: #eae5f0;
    color: #b3b3b3;
    border: 1px dashed #b3b3b3;
    border-radius: 50%;
    margin-right: 10px;
    width: 24px;
    height: 22px;
    text-align: center;
    display: inline-block;
    line-height: 21px;
    font-size: 15px; }
  .day-block__add {
    background: #e9e9e9;
    margin: -14px -12px 15px;
    padding: 15px 28px 21px;
    border: 1px dashed #ababab;
    border-radius: 5px;
    color: #acacac;
    font-size: 18px; }
    .day-block__add strong {
      font-weight: normal;
      color: #8e8e8e; }

.message-resp {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -20px 20px 50px; }
  .message-resp .container {
    background: #454545;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    max-width: 1282px; }
    @media (max-width: 1023px) {
      .message-resp .container {
        display: block; } }
  .message-resp__messages {
    width: 45.56%;
    padding: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 1023px) {
      .message-resp__messages {
        width: auto; } }
  .message-resp__item {
    margin-bottom: 5px;
    border-radius: 5px;
    background: #fff; }
  .message-resp__title {
    border-bottom: 1px solid #e5e5e5;
    padding: 12px 12px 12px 17px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .message-resp__heading {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-weight: 300; }
    .message-resp__heading h3 {
      margin: 0 12px 0 0;
      font-weight: bold;
      font-size: 15px; }
    .message-resp__heading p {
      margin: 0 15px 0 0; }
  .message-resp__info {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .message-resp__info p {
      margin: 0 8px; }
  .message-resp__body {
    padding: 14px 12px 11px 17px;
    max-width: 100%; }
    .message-resp__body .btn {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 2px 16px; }
  .message-resp__text {
    margin-right: 30px;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px; }
  .message-resp__reply {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 68.78%;
    position: relative;
    background: #dadada;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px;
    margin-bottom: 5px; }
    .message-resp__reply:before {
      content: '';
      position: absolute;
      right: 64px;
      top: -8px;
      height: 0;
      display: block;
      border: 4px solid transparent;
      border-bottom-color: #dadada; }
    .message-resp__reply > .badge__icon {
      position: absolute;
      left: -36px;
      top: 0; }
  .message-resp__reply-close {
    position: absolute;
    color: #989898;
    top: 13px;
    right: 15px;
    text-decoration: none;
    font-size: 10px; }
  .message-resp__reply-title {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 4px; }
  .message-resp__field {
    margin-bottom: 10px;
    height: 90px; }
  .message-resp__pagination {
    text-align: center;
    margin: 10px 0;
    color: #e9e9e9; }
  .message-resp__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 55%;
    margin: 1px;
    position: relative; }
    @media (max-width: 1023px) {
      .message-resp__view {
        width: auto; } }
  .message-resp__preview {
    margin: 0;
    color: #fff;
    text-align: center; }
  .message-resp__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9e9e9;
    border-radius: 0 5px 5px 0; }
    @media (max-width: 1023px) {
      .message-resp__wrapper {
        position: static;
        width: 100%; } }
  .message-resp__holder {
    height: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
    @media (max-width: 1023px) {
      .message-resp__holder {
        height: auto;
        overflow: visible; }
        .message-resp__holder .modal__body {
          padding: 20px; } }
