@-webkit-keyframes dropTooltip {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes dropTooltip {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes help {
  25% {
    -webkit-transform: rotate(10deg) scale(1.1);
            transform: rotate(10deg) scale(1.1); }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  75% {
    -webkit-transform: rotate(-10deg) scale(1.1);
            transform: rotate(-10deg) scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes help {
  25% {
    -webkit-transform: rotate(10deg) scale(1.1);
            transform: rotate(10deg) scale(1.1); }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  75% {
    -webkit-transform: rotate(-10deg) scale(1.1);
            transform: rotate(-10deg) scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

body {
  margin: 0;
  color: #000;
  font: 12px Roboto, sans-serif;
  background: #e9e9e9; }

img {
  border-style: none; }

a {
  color: #2597ee; }

input,
textarea,
select {
  font: 100% Roboto, sans-serif; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin: 0 0 0.5em; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg"); }

[class^="icon-"],
[class*=" icon-"], .select-field__opener, .headline-search, .help span, .dialog__icon, .dialog__rec {
  line-height: 1; }
  [class^="icon-"]:before,
  [class*=" icon-"]:before, .select-field__opener:before, .headline-search:before, .help span:before, .dialog__icon:before, .dialog__rec:before {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("eot"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg"); }

.icon-arrow-drop:before, .select-field__opener:before {
  content: '\E001'; }

.icon-calendar:before {
  content: '\E002'; }

.icon-call:before, .help span:before {
  content: '\E003'; }

.icon-close:before {
  content: '\E004'; }

.icon-complete:before {
  content: '\E005'; }

.icon-dashboard:before {
  content: '\E006'; }

.icon-envelope:before, .dialog__icon-email:before {
  content: '\E007'; }

.icon-fail:before {
  content: '\E008'; }

.icon-in-progress:before {
  content: '\E009'; }

.icon-leads:before {
  content: '\E00A'; }

.icon-phone:before, .dialog__icon-call:before {
  content: '\E00B'; }

.icon-record:before, .dialog__rec:before {
  content: '\E00C'; }

.icon-reports:before {
  content: '\E00D'; }

.icon-responses:before {
  content: '\E00E'; }

.icon-review:before {
  content: '\E00F'; }

.icon-sad:before {
  content: '\E010'; }

.icon-search:before, .headline-search:before {
  content: '\E011'; }

.icon-sequences:before {
  content: '\E012'; }

.icon-settings:before {
  content: '\E013'; }

.icon-sms:before, .dialog__icon-sms:before {
  content: '\E014'; }

.icon-success:before {
  content: '\E015'; }

.rel {
  position: relative; }

html {
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%; }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%; }
  .page.blured {
    -webkit-filter: blur(5px);
            filter: blur(5px); }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px 0; }

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 24px 0 19px;
  position: relative; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media (max-width: 1023px) {
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; } }

.logo img {
  display: block;
  width: 150px; }

.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 35px;
  font-size: 18px; }
  @media (max-width: 1023px) {
    .navigation {
      display: none; } }
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 300; }
  .navigation li {
    display: inline-block;
    margin-left: 30px; }
    .navigation li:first-child {
      margin-left: 0; }
    .navigation li:hover a {
      color: #000; }
    .navigation li:hover span {
      color: #2597ee; }
  .navigation a {
    color: #333;
    text-decoration: none; }
  .navigation span {
    color: #8e8e8e;
    margin-right: 9px;
    font-size: 22px;
    display: inline-block;
    vertical-align: bottom; }
  .navigation .active {
    font-weight: normal; }
    .navigation .active a {
      color: #000; }
    .navigation .active span {
      color: #2597ee; }

.user-tools {
  position: relative; }
  .user-tools__name {
    font-size: 18px;
    font-weight: 300; }
    .user-tools__name a {
      color: inherit;
      text-decoration: none; }
    .user-tools__name span {
      margin-left: 6px;
      font-size: 11px;
      vertical-align: top; }

.tools-tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin-top: 16px;
  font-size: 15px;
  font-weight: 300;
  width: 128px;
  display: none;
  -webkit-animation: 0.1s ease-out dropTooltip;
          animation: 0.1s ease-out dropTooltip; }
  .tools-tooltip:after, .tools-tooltip:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 36px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    margin-bottom: -6px; }
  .tools-tooltip:before {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .tools-tooltip__list {
    list-style: none;
    background: #fff;
    position: relative;
    padding: 7px 0;
    margin: 0;
    border-radius: 4px; }
    .tools-tooltip__list a {
      display: block;
      padding: 5px 12px;
      color: #000;
      text-decoration: none; }
      .tools-tooltip__list a:hover {
        background: #e9f4fd; }

.mobile-nav {
  display: none;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 300; }
  @media (max-width: 1023px) {
    .mobile-nav {
      display: block; } }
  .mobile-nav__content {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    display: none;
    -webkit-animation: 0.1s ease-out dropTooltip;
            animation: 0.1s ease-out dropTooltip; }
  .mobile-nav ul {
    list-style: none;
    padding: 40px 0 0;
    margin: 0; }
  .mobile-nav li {
    margin-bottom: 15px; }
    .mobile-nav li a {
      display: block;
      text-decoration: none;
      color: #666;
      padding: 10px 0; }
    .mobile-nav li span {
      font-size: 32px;
      margin-right: 15px;
      vertical-align: bottom;
      display: inline-block;
      color: #2597ee; }
  .mobile-nav .active {
    font-weight: normal; }
    .mobile-nav .active a {
      color: #000; }
  .mobile-nav__opener {
    width: 35px;
    display: block;
    position: relative;
    z-index: 101; }
    .mobile-nav__opener:before, .mobile-nav__opener:after,
    .mobile-nav__opener span {
      display: block;
      font-size: 0;
      height: 3px;
      background: #666;
      margin-bottom: 7px;
      width: 100%; }
    .mobile-nav__opener:before, .mobile-nav__opener:after {
      content: ''; }
    .mobile-nav__opener:after {
      margin-bottom: 0; }

.headline {
  padding: 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1219px) {
    .headline {
      display: block; } }
  .headline__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 1219px) {
      .headline__title {
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .headline__title {
        display: block; } }
  .headline h1 {
    margin: 0 60px 0 0;
    font-size: 51px;
    font-weight: 100; }
    @media (max-width: 1219px) {
      .headline h1 {
        margin: 0; } }
    @media (max-width: 767px) {
      .headline h1 {
        margin-bottom: 20px;
        font-size: 40px; } }
  .headline .view-link {
    font-size: 15px;
    text-decoration: none; }
    .headline .view-link span {
      text-decoration: underline; }
    .headline .view-link em {
      margin-left: 8px;
      vertical-align: bottom;
      display: inline-block; }
    .headline .view-link:hover span {
      text-decoration: none; }
  .headline form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: right; }
    @media (max-width: 1219px) {
      .headline form {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 767px) {
      .headline form {
        display: block; } }

.select-field {
  margin-left: 18px;
  background: #fff;
  border: 1px solid #afafaf;
  border-radius: 18px;
  display: inline-block;
  position: relative; }
  @media (max-width: 1219px) {
    .select-field {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-left: 0;
      margin-right: 20px; } }
  @media (max-width: 767px) {
    .select-field {
      margin-right: 0;
      margin-bottom: 20px;
      display: block;
      border-radius: 22px; } }
  .select-field select {
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0 40px 0 20px; }
    @media (max-width: 1219px) {
      .select-field select {
        width: 100%; } }
    @media (max-width: 767px) {
      .select-field select {
        height: 34px; } }
  .select-field--icon select {
    padding-left: 40px; }
  .select-field__icon, .select-field__opener {
    position: absolute;
    bottom: 1px;
    top: 1px;
    width: 20px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%; }
  .select-field__opener {
    right: 1px;
    padding-right: 12px;
    color: #2597ee; }
    .select-field__opener:before {
      font-size: 11px; }
  .select-field__icon {
    left: 1px;
    padding-left: 12px;
    color: #999;
    text-align: center; }
    .select-field__icon:before {
      font-size: 14px; }

.headline-search {
  display: inline-block;
  position: relative;
  margin-left: 18px;
  background: #9b9b9b;
  border-radius: 15px;
  padding: 0 10px;
  color: #fff; }
  @media (max-width: 1219px) {
    .headline-search {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      margin-left: 0; } }
  @media (max-width: 767px) {
    .headline-search {
      display: block; } }
  .headline-search:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    width: 20px;
    text-align: center;
    line-height: 30px; }
  .headline-search input {
    border: none;
    background: none;
    font-size: 15px;
    line-height: 30px;
    padding: 0 0 0 38px;
    width: 166px;
    outline: none;
    color: #fff; }
    @media (max-width: 1219px) {
      .headline-search input {
        width: 100%; } }
    @media (max-width: 767px) {
      .headline-search input {
        line-height: 34px; } }
    .headline-search input::-webkit-input-placeholder {
      color: #fff; }
    .headline-search input:-ms-input-placeholder {
      color: #fff; }
    .headline-search input::placeholder {
      color: #fff; }

.footer {
  background: #f0f0f0;
  padding: 20px 0;
  color: #666;
  font-size: 12px; }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    @media (max-width: 767px) {
      .footer .container {
        display: block; } }
  .footer__nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 767px) {
      .footer__nav {
        margin-bottom: 20px; } }
    .footer__nav li {
      display: inline-block;
      margin: 0 6px; }
      .footer__nav li:before {
        content: '';
        width: 1px;
        height: 14px;
        display: inline-block;
        background: #666;
        margin-right: 8px;
        vertical-align: bottom; }
      .footer__nav li:first-child {
        margin-left: 0; }
        .footer__nav li:first-child:before {
          display: none; }
    .footer__nav a {
      color: #666;
      text-decoration: none; }
      .footer__nav a:hover {
        color: #2597ee; }
  .footer__info {
    margin: 0; }
  .footer__logo {
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px; }
    .footer__logo img {
      display: block;
      width: 91px; }

.help {
  position: fixed;
  left: 53px;
  bottom: 76px;
  background: #2597ee;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: #fff; }
  .help span {
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 0; }
    .help span:before {
      font-size: 25px; }
  .help:hover {
    -webkit-animation: help 3s infinite;
            animation: help 3s infinite; }

.tooltip {
  position: absolute;
  bottom: 100%;
  right: -30px;
  width: 194px;
  z-index: 50;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  color: #333;
  font-size: 12px;
  display: none;
  -webkit-animation: 0.1s ease-out dropTooltip;
          animation: 0.1s ease-out dropTooltip; }
  .tooltip:after, .tooltip:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
    margin: -6px 0 0 -6px; }
  .tooltip:before {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .tooltip__content {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    position: relative; }
  .tooltip h3 {
    font-size: 15px;
    margin: 0 0 0.5em;
    font-weight: 300; }
  .tooltip p {
    margin: 0 0 0.5em; }
  .tooltip__frame {
    position: relative; }
    .tooltip__frame:hover .tooltip {
      display: block; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  font-weight: 300;
  display: none; }
  .modal.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); }
  .modal__box {
    position: relative;
    width: 700px;
    background: #e9e9e9;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-height: 616px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 767px) {
      .modal__box {
        width: auto; } }
  .modal__close {
    position: absolute;
    top: 11px;
    right: 11px;
    color: #b2b2b2;
    text-decoration: none;
    z-index: 2;
    font-size: 12px; }
  .modal__header {
    background: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    position: relative; }
  .modal__header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    padding: 30px 50px 22px; }
    @media (max-width: 767px) {
      .modal__header-wrap {
        display: block; } }
  .modal h2 {
    font-weight: 100;
    font-size: 24px;
    margin: 0; }
    @media (max-width: 767px) {
      .modal h2 {
        margin-bottom: 20px; } }
    .modal h2 span {
      font-weight: 300;
      font-size: 30px; }
  .modal__nav {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
    font-size: 15px; }
    .modal__nav li {
      display: inline-block;
      margin-left: 25px; }
      @media (max-width: 767px) {
        .modal__nav li:first-child {
          margin-left: 0; } }
    .modal__nav a {
      text-decoration: none;
      border-bottom: 1px dashed #2597ee; }
  .modal__footer {
    background: #d3d3d3;
    border-top: 1px solid #b4b4b4;
    border-radius: 0 0 4px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px 50px;
    font-size: 26px; }
    @media (max-width: 767px) {
      .modal__footer {
        display: block;
        text-align: center; } }
  .modal__status {
    font-size: 13px;
    margin: 0; }
    @media (max-width: 767px) {
      .modal__status {
        margin-bottom: 20px; } }
    .modal__status span {
      color: #7f7f7f;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      font-size: 18px; }
      .modal__status span.success {
        color: #0e9133; }
    .modal__status strong {
      color: #000; }
  .modal__footer-close {
    font-size: 24px;
    text-decoration: none; }
    .modal__footer-close:hover {
      text-decoration: underline; }
  .modal__body {
    padding: 25px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .modal__headline {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .modal__headline h3 {
      margin: 0;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 300; }
      .modal__headline h3 span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 27px;
        font-size: 18px; }
    .modal__headline .date {
      font-weight: bold;
      color: #999;
      font-size: 9px; }
  .modal__content {
    overflow-y: auto;
    overflow-x: hidden; }

*::-webkit-scrollbar {
  width: 8px; }

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  width: 8px;
  background-color: #666; }

/*
width: 8px;
background-color: #666;*/
.lead-table {
  width: 100%;
  background: #ededed; }
  .lead-table thead {
    background: #f8f8f8; }
  .lead-table th,
  .lead-table td {
    padding: 12px 5px 12px 18px;
    border: none; }
    .lead-table th:not(:first-child),
    .lead-table td:not(:first-child) {
      border-left: 1px solid #d5d5d5; }
  .lead-table th {
    text-align: left;
    font-size: 14px;
    font-weight: normal; }
  .lead-table td {
    font-weight: 300; }
    .lead-table td:nth-child(2) {
      font-weight: normal; }
  .lead-table tr:nth-child(2n) td {
    background: #f6f6f6; }
  .lead-table tr:hover td {
    background: #f0f7fd; }
  .lead-table .label {
    display: inline-block;
    padding: 0 9px;
    color: #fff;
    border-radius: 9px;
    font-size: 9px;
    line-height: 18px;
    white-space: nowrap; }
    .lead-table .label--green {
      background: -webkit-gradient(linear, left top, right top, from(#17a11a), to(#46ca4b));
      background: linear-gradient(to right, #17a11a 0%, #46ca4b 100%); }
    .lead-table .label--red {
      background: -webkit-gradient(linear, left top, right top, from(#b31900), to(#d54800));
      background: linear-gradient(to right, #b31900 0%, #d54800 100%); }
    .lead-table .label--violet {
      background: -webkit-gradient(linear, left top, right top, from(#515282), to(#8e8fb6));
      background: linear-gradient(to right, #515282 0%, #8e8fb6 100%); }
  .lead-table .time {
    font-size: 9px; }
  .lead-table .review {
    color: #004ea4; }
  .lead-table .cancel {
    color: #c33; }
  .lead-table [class^="icon-"] {
    font-size: 11px;
    margin-right: 6px;
    vertical-align: middle; }
  .lead-table .icon-success {
    color: #0e9133; }
  .lead-table .icon-in-progress {
    color: #ff9c00; }
  .lead-table .icon-sad {
    color: #494949; }
  .lead-table .icon-fail {
    color: #c33; }
  .lead-table .icon-complete {
    color: #626262; }
  .lead-table .icon-review {
    color: #004ea4; }
  .lead-table__pagination {
    text-align: center;
    font-size: 12px;
    margin: 38px 0 0; }

.dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .dialog__title {
    margin: 20px 0 15px; }
    .dialog__title h3 {
      display: inline-block;
      margin: 0 6px 0 0;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase; }
  .dialog__day {
    font-weight: bold;
    color: #999;
    font-size: 9px;
    text-transform: uppercase; }
  .dialog__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 7px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .dialog__symbol {
    display: block;
    margin-right: 10px;
    position: relative; }
  .dialog__icon {
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 25px;
    width: 26px;
    height: 26px;
    display: block; }
  .dialog__icon-call {
    background: #0e9133; }
  .dialog__icon-email {
    background: #2597ee; }
  .dialog__icon-sms {
    background: #e7682a; }
  .dialog__rec {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 11px;
    line-height: 7px;
    color: #ff4800;
    padding: 1px;
    background: #fff;
    border-radius: 2px; }
  .dialog__summary {
    padding: 5px 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 13px;
    font-weight: 300; }
    .dialog__summary a {
      text-decoration: none; }
      .dialog__summary a:hover {
        text-decoration: underline; }
  .dialog--new .dialog__summary {
    background: #f6f6f6;
    border-radius: 4px; }
  .dialog--answer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-item-align: end;
        align-self: flex-end; }
    .dialog--answer .dialog__symbol {
      margin-right: 0;
      margin-left: 10px; }
  .dialog--info {
    margin: 44px 0;
    width: 75%; }
    .dialog--info .dialog__summary {
      background: #effafe;
      border-radius: 4px;
      padding-top: 18px;
      padding-bottom: 18px; }

.details {
  background: #f6f6f6;
  position: relative; }
  .details__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 26px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .details__wrap {
        display: block; } }
  .details__close {
    position: absolute;
    top: 18px;
    right: 14px;
    color: #c5c5c5;
    font-size: 8px;
    text-decoration: none; }
  .details__col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 40px; }
  .details dl {
    margin: 0;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .details dt {
    padding-bottom: 8px;
    width: 40%;
    font-weight: normal; }
  .details dd {
    margin: 0;
    width: 60%;
    padding-bottom: 8px;
    padding-top: 2px; }
