.footer {
	background: #f0f0f0;
	padding: 20px 0;
	color: #666;
	font-size: 12px;

	.container {
		@extend .flexible-row;

		@include until($bp-medium) {
			display: block;
		}
	}

	&__nav {
		list-style: none;
		padding: 0;
		margin: 0;

		@include until($bp-medium) {
			margin-bottom: 20px;
		}

		li {
			display: inline-block;
			margin: 0 2px;

			&:before {
				content: '';
				width: 1px;
				height: 10px;
				display: inline-block;
				background: #666;
				margin-right: 6px;
				vertical-align: bottom;
			}

			&:first-child {
				margin-left: 0;

				&:before {
					display: none;
				}
			}
		}

		a {
			color: #666;
			text-decoration: none;

			&:hover {
				color: $color-blue;
			}
		}
	}
	
	&__info {
		margin: 0;
		transform: translateY(2px);
	}

	&__logo {
		vertical-align: baseline;
		display: inline-block;
		margin-left: 10px;
		transform: translateY(1px);
		
		img {
			display: block;
			width: 91px;
		}
	}
}