.footer {
	background: #f0f0f0;
	padding: 20px 0;
	color: #666;
	font-size: 12px;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@include until($bp-medium) {
			display: block;
		}
	}

	&__nav {
		list-style: none;
		padding: 0;
		margin: 0;

		@include until($bp-medium) {
			margin-bottom: 20px;
		}

		li {
			display: inline-block;
			margin: 0 6px;

			&:before {
				content: '';
				width: 1px;
				height: 14px;
				display: inline-block;
				background: #666;
				margin-right: 8px;
				vertical-align: bottom;
			}

			&:first-child {
				margin-left: 0;

				&:before {
					display: none;
				}
			}
		}

		a {
			color: #666;
			text-decoration: none;

			&:hover {
				color: $color-blue;
			}
		}
	}
	
	&__info {
		margin: 0;
	}

	&__logo {
		vertical-align: middle;
		display: inline-block;
		margin-left: 15px;
		
		img {
			display: block;
			width: 91px;
		}
	}
}