.headline {
	@extend .flexible-row;
	margin: 18px 0 25px;

	@include until($bp-xl) {
		display: block;
	}

	&__title {
		@extend .flexible-row;
		justify-content: flex-start;
		margin-left: 2px;

		@include until($bp-xl) {
			margin-bottom: 20px;
		}

		@include until($bp-medium) {
			display: block;
		}

		.btn {
			transform: translateY(4px);
		}
	}

	&--simple {
		justify-content: flex-start;
	}

	h1 {
		margin: 0 38px 0 0;
		font-size: 51px;
		font-weight: 100;
		transform: translateY(-2px);

		@include until($bp-medium) {
			margin-right: 0;
			margin-bottom: 20px;
			font-size: 40px;
		}
	}

	.view-link {
		font-size: 15px;
		text-decoration: none;
		margin-left: 25px;
		display: inline-block;
		transform: translateY(1px);

		span {
			text-decoration: underline;
		}

		em {
			margin-left: 5px;
			vertical-align: middle;
			display: inline-block;
			transform: translateY(2px);
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}

	form {
		flex: 1 0 auto;
		text-align: right;
		margin-top: 2px;
		margin-right: -2px;

		@include until($bp-xl) {
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		@include until($bp-medium) {
			display: block;
		}
	}

	&__btns {
		.btn {
			margin-left: 6px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.select-field {
	margin-left: 12px;
	background: $color-white;
	border: 1px solid #d0d0d0;
	border-radius: 19px;
	display: inline-block;
	position: relative;
	cursor: pointer;

	@include until($bp-xl) {
		flex: 1 0 auto;
		margin-left: 0;
		margin-right: 20px;
	}

	@include until($bp-medium) {
		margin-right: 0;
		margin-bottom: 20px;
		display: block;
	}

	select {
		display: block;
		height: 36px;
		line-height: 34px;
		font-size: 15px;
		background: none;
		border: none;
		outline: none;
		appearance: none;
		padding: 0 39px 0 25px;

		@include until($bp-xl) {
			width: 100%;
		}
	}

	&--icon {
		width: 188px;

		@include until($bp-medium) {
			width: auto;
		}

		select {
			padding-left: 42px;
			padding-right: 42px;
		}
	}

	&__icon,
	&__opener {
		position: absolute;
		bottom: 1px;
		top: 1px;
		width: 20px;
		background: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}

	&__opener {
		right: 1px;
		padding-right: 11px;
		@extend %icon-base-styles;
		@extend .icon-arrow-drop;
		color: $color-blue;

		&:before {
			font-size: 9px;
		}
	}

	&__icon {
		left: 1px;
		padding-left: 14px;
		color: #999;
		text-align: center;

		&:before {
			font-size: 16px;
		}
	}
}

.headline-search {
	display: inline-block;
	position: relative;
	margin-left: 14px;
	background: #9b9b9b;
	border-radius: 18px;
	padding: 0 10px 0 8px;
	color: $color-white;
	@extend %icon-base-styles;
	@extend .icon-search;

	@include until($bp-xl) {
		flex: 1 0 auto;
		margin-left: 0;
	}

	@include until($bp-medium) {
		display: block;
	}

	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 12px;
		width: 18px;
		text-align: center;
		line-height: 34px;
	}
	
	input {
		border: none;
		background: none;
		font-size: 15px;
		line-height: 36px;
		padding: 0 0 0 27px;
		width: 168px;
		outline: none;
		color: $color-white;
		font-weight: 300;

		@include until($bp-xl) {
			width: 100%;
		}

		&::placeholder {
			color: $color-white;
		}
	}
}