.rel {
	position: relative;
}

.flexible-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.blue {
	color: $color-blue;
}

%clearfix,
.clear {
	@include clearfix;
}

.day {
	font-weight: bold;
	color: #999;
	font-size: 9px;
	text-transform: uppercase;
}