$icon_font_name:"icons";
@font-face {
	font-family:$icon_font_name;
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
	url('../fonts/icons.woff') format('woff'),
	url('../fonts/icons.ttf') format('truetype'),
	url('../fonts/icons.svg#icons') format('svg');
}

.icon-arrow-drop:before {
	content:'\E001';
}
.icon-calendar:before {
	content:'\E002';
}
.icon-call:before {
	content:'\E003';
}
.icon-close:before {
	content:'\E004';
}
.icon-complete:before {
	content:'\E005';
}
.icon-dashboard:before {
	content:'\E006';
}
.icon-envelope:before {
	content:'\E007';
}
.icon-fail:before {
	content:'\E008';
}
.icon-in-progress:before {
	content:'\E009';
}
.icon-leads:before {
	content:'\E00A';
}
.icon-open-email:before {
	content:'\E00B';
}
.icon-phone:before {
	content:'\E00C';
}
.icon-record:before {
	content:'\E00D';
}
.icon-reports:before {
	content:'\E00E';
}
.icon-responses:before {
	content:'\E00F';
}
.icon-review:before {
	content:'\E010';
}
.icon-sad:before {
	content:'\E011';
}
.icon-search:before {
	content:'\E012';
}
.icon-sequences:before {
	content:'\E013';
}
.icon-settings:before {
	content:'\E014';
}
.icon-sms:before {
	content:'\E015';
}
.icon-success:before {
	content:'\E016';
}