html {
	height: 100%;
}
body {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: stretch;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	&.blured {
		filter: blur(5px);
	}
}

.main {
	flex: 1 0 auto;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	> .container {
		padding-bottom: 20px;
	}
}

.container {
	margin: 0 auto;
	max-width: 1366px;
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
}