html {
	height: 100%;
}
body {
	display: flex;
	min-height: 100%;
	width: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	&.blured {
		filter: blur(5px);
	}
}

.main {
	flex: 1 0 auto;
	padding: 20px 0;
}

.container {
	margin: 0 auto;
	max-width: 1366px;
	padding: 0 20px;
	box-sizing: border-box;
}