$color-black: #000;
$color-white: #fff;
$color-blue: #2597ee;
$color-blue-darker: #004ea4;
$color-green: #0e9133;
$color-yellow: #ff9c00;
$color-red: #c33;

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xl: 1220px;

$shadow: 0 0 3px rgba(0,0,0,0.2);
$radius: 4px;

$icon_font_name:"icons";