.message-resp {
	flex: 1 0 auto;
	display: flex;
	margin: -20px 20px 50px;

	.container {
		background: #454545;
		flex: 1 0 auto;
		border-radius: $radius;
		display: flex;
		padding: 0;
		max-width: $page-width;

		@include until($bp-large) {
			display: block;
		}
	}

	&__messages {
		width: 45.56%;
		padding: 5px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		@include until($bp-large) {
			width: auto;
		}
	}

	&__item {
		margin-bottom: 5px;
		border-radius: $radius;
		background: $color-white;
	}

	&__title {
		@extend .flexible-row;
		border-bottom: 1px solid #e5e5e5;
		padding: 12px 12px 12px 17px;
		align-items: baseline;
		cursor: pointer;
	}

	&__heading {
		margin-right: 10px;
		display: flex;
		align-items: baseline;
		font-weight: 300;

		h3 {
			margin: 0 12px 0 0;
			font-weight: bold;
			font-size: 15px;
		}

		p {
			margin: 0 15px 0 0;
		}
	}

	&__info {
		font-size: 13px;
		display: flex;
		align-items: baseline;
		
		p {
			margin: 0 8px;
		}
	}

	&__body {
		@extend .flexible-row;
		padding: 14px 12px 11px 17px;
		max-width: 100%;

		.btn {
			align-items: flex-end;
			padding: 2px 16px;
		}
	}

	&__text {
		margin-right: 30px;
		font-size: 13px;
		font-weight: 300;
		line-height: 17px;
	}

	&__reply {
		align-self: flex-end;
		width: 68.78%;
		position: relative;
		background: #dadada;
		border-radius: $radius;
		margin-bottom: 5px;
		display: none;

		&:before {
			content: '';
			position: absolute;
			right: 64px;
			top: -8px;
			height: 0;
			display: block;
			border: 4px solid transparent;
			border-bottom-color: #dadada;
		}

		> .badge__icon {
			position: absolute;
			left: -36px;
			top: 0;
		}
	}

	&__reply-close {
		position: absolute;
		color: #989898;
		top: 13px;
		right: 15px;
		text-decoration: none;
		font-size: 10px;
	}

	&__reply-title {
		font-weight: 300;
		font-size: 15px;
		margin-bottom: 4px;
	}

	&__field {
		margin-bottom: 10px;
		height: 90px;
	}

	&__pagination {
		text-align: center;
		margin: 10px 0;
		color: #e9e9e9;
	}

	&__view {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55%;
		margin: 1px;
		position: relative;

		@include until($bp-large) {
			width: auto;
		}
	}
	
	&__preview {
		margin: 0;
		color: $color-white;
		text-align: center;
	}

	&__wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #e9e9e9;
		border-radius: 0 $radius $radius 0;
		display: none;

		@include until($bp-large) {
			position: static;
			width: 100%;
		}
	}

	&__holder {
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		width: 100%;

		@include until($bp-large) {
			height: auto;
			overflow: visible;

			.modal__body {
				padding: 20px;
			}
		}
	}

	&__box {
		padding: 12px;
	}

	.modal__footer {
		position: absolute;
		bottom: 0;
	}

	.modal__body {
		margin-bottom: 62px;
	}
}