.dialog {
	$root: &;
	display: flex;
	width: 100%;
	flex-direction: column;

	&__title {
		margin: 20px 0 15px;

		h3 {
			display: inline-block;
			margin: 0 6px 0 0;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__day {
		font-weight: bold;
		color: #999;
		font-size: 9px;
		text-transform: uppercase;
	}

	&__row {
		display: flex;
		width: 70%;
		margin: 2px 0;
		align-items: flex-start;
		justify-content: space-between;

		&:hover {
			#{$root}__summary {
				background: $color-white;
			}
		}
	}

	.badge {
		display: block;
		margin-right: 10px;
	}

	&__summary {
		@extend .flexible-row;
		padding: 5px 13px;
		font-size: 13px;
		font-weight: 300;
		border-radius: $radius;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&--new {
		#{$root}__summary {
			background: #f6f6f6;
		}
	}

	&--answer {
		flex-direction: row-reverse;
		align-self: flex-end;

		.badge {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	&--message,
	&--info {
		margin: 40px 0;
		width: 75%;

		#{$root}__summary {
			background: #effafe;
			border-radius: $radius;
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}

	&--message {
		#{$root}__summary {
			display: block;
			padding-left: 0;
			padding-right: 0;
		}

		#{$root}__message-title {
			position: relative;
			border-bottom: 1px solid #d7e1e4;
			padding: 0 16px 16px;
		}

		#{$root}__message-heading {
			margin-bottom: 3px;

			.icon-open-email {
				margin-left: 3px;
				color: #004eff;
			}
		}

		#{$root}__message-body {
			padding: 16px 16px 0;
		}
	}

	&__notification {
		background: #d3d3d3;
		margin: 20px 0;
		border-radius: $radius;
		padding: 5px 14px 5px 10px;
		@extend .flexible-row;
	}

	&__notification-text {
		font-weight: 300;
		margin-right: 10px;
		flex: 1;
	}

	&__attention-icon {
		display: inline-block;
		border-radius: 50%;
		color: #d3d3d3;
		background: #7f7f7f;
		width: 12px;
		text-align: center;
		height: 12px;
		font-weight: bold;
		margin-right: 18px;
		vertical-align: middle;
		font-size: 9px;
	}

	&__notification-number {
		display: inline-block;
		margin-left: 6px;
		font-weight: bold;
		background: #bdbdbd;
		line-height: 18px;
		border-radius: 9px;
		font-size: 9px;
		vertical-align: middle;
		padding: 0 8px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		margin-bottom: 32px;

		.btn {
			margin-right: 4px;
		}
	}

	&__buttons-label {
		font-weight: bold;
		margin: 0 12px 0 0;
	}

	&--textfield {
		width: 100%;

		#{$root}__summary {
			background: #f6f6f6;
			padding: 12px;
			position: relative;
			display: block;
		}

		label {
			display: block;
			margin: 0 15px 5px 0;
			font-size: 15px;
		}

		textarea {
			margin-bottom: 10px;
			min-height: 90px;
		}
	}

	&__field-close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: #acacac;
		font-size: 9px;
	}

	&--replied {
		#{$root}__summary {
			box-shadow: 0 0 2px $color-blue;
			background: $color-white;
			color: $color-black;
		}
		#{$root}__day {
			color: $color-black;
		}
	}
}