.sequences {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: -10px -6px 0;
	align-items: stretch;

	&__col {
		width: 350px;
		max-width: 30%;
		padding: 10px;
		box-sizing: border-box;

		@include until($bp-xl) {
			width: 50%;
			max-width: 50%;
		}

		@include until($bp-medium) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__item {
		border-radius: $radius;
		background: $color-white;
		height: 100%;
	}

	&__header {
		padding: 19px 15px 15px;

		h2 {
			margin: 0;
			font-weight: bold;
			font-size: 18px;
		}

		.icon-sequences {
			color: $color-blue;
			margin-right: 8px;
			vertical-align: middle;
			display: inline-block;
		}
	}

	&__summary {
		background: #f4f4f4;
		padding: 15px 10px 15px 0;
		width: 100%;
		display: flex;
		box-sizing: border-box;

		dl {
			margin: 0;
			width: 25%;
			box-sizing: border-box;
			padding-left: 18px;
		}

		dt {
			display: inline-block;
		}

		dd {
			display: inline-block;
			margin: 0;
			font-weight: bold;
		}
	}

	&__calendar {
		padding: 20px 16px 42px;
	}

	&__row {
		margin-bottom: 8px;

		@include until($bp-small) {
			margin-bottom: 20px;
			text-align: center;
		}
	}

	&__day {
		display: inline-block;
		background: #dedede;
		text-align: center;
		border-radius: $radius;
		margin-right: 20px;
		width: 74px;
		box-sizing: border-box;
		font-weight: bold;
		font-size: 13px;
		line-height: 18px;
		padding: 5px;
		text-transform: uppercase;

		@include until($bp-small) {
			display: block;
			margin-right: 0;
			margin-bottom: 12px;
			width: auto;
			text-align: center;
		}
	}

	&__icons {
		position: relative;
		display: inline-block;

		&:before {
			content: '';
			display: block;
			height: 1px;
			left: 0;
			right: 0;
			top: 50%;
			background: #b2b2b2;
			position: absolute;
		}

		.badge {
			display: inline-block;
			position: relative;
			margin-left: 11px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}