.btn {
	display: inline-block;
	border-radius: $radius;
	font-weight: normal;
	color: $color-white;
	height: 31px;
	border: none;
	line-height: 27px;
	padding: 2px 18px;
	cursor: pointer;
	white-space: nowrap;

	&--blue {
		background: $color-blue;

		&:hover {
			background: lighten($color-blue, 10%);
		}
	}

	&--orange {
		background: $color-orange;

		&:hover {
			background: lighten($color-orange, 10%);
		}
	}

	&--grey {
		background: #8e8e8e;

		&:hover {
			background: lighten(#8e8e8e, 10%);
		}
	}

	&--naked {
		background: none;
		text-decoration: underline;
		color: #707070;

		&:hover {
			color: $color-black;
		}
	}

	&--big {
		height: 34px;
		font-size: 15px;
	}

	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: 5px;
		display: inline-block;
		vertical-align: baseline;
		line-height: 1;
	}

	&:disabled {
		opacity: 0.2;
		pointer-events: none;
		cursor: default;
	}
}